html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'audioDH';
  src: url("fonts/audioDH.eot?d61pgo");
  src: url("fonts/audioDH.eot?d61pgo#iefix") format("embedded-opentype"), url("fonts/audioDH.ttf?d61pgo") format("truetype"), url("fonts/audioDH.woff?d61pgo") format("woff"), url("fonts/audioDH.svg?d61pgo#audioDH") format("svg");
  font-weight: normal;
  font-style: normal;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'audioDH' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.audiodh-pause:before {
  content: "\e906";
}

.audiodh-download:before {
  content: "\e900";
}

.audiodh-next:before {
  content: "\e901";
}

.audiodh-play:before {
  content: "\e902";
}

.audiodh-prev:before {
  content: "\e903";
}

.audiodh-shuffle:before {
  content: "\e904";
}

.audiodh-volume:before {
  content: "\e905";
}

/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, body {
  position: relative;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  color: #050D9E;
  line-height: 1.2;
  font-weight: normal;
  height: 100%;
}

body {
  background-color: #FAF5BD;
}
body.invert {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: invert(100%) !important;
          filter: invert(100%) !important;
  background-color: #050a42;
}
body.invert img, body.invert iframe {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: invert(100%) !important;
          filter: invert(100%) !important;
}

h1, h2, h3, h4, h5 {
  font-family: "Maven Pro", sans-serif;
  font-weight: normal;
}

.h3 {
  font-size: 1.3em;
}

p {
  margin-bottom: 1em;
}

a {
  color: #050D9E;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.hide-on-mobile {
  display: none;
}

.page__body {
  margin: 10px 0;
}

.page__header {
  font-size: 1.5em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

button {
  font-family: "Maven Pro", sans-serif;
}

.margin-top {
  margin-top: 2em;
}

.align-left {
  text-align: left;
}

.wrap {
  max-width: 1600px;
  margin: auto;
  padding: 2em;
}

section.header {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
section.header header {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
  background: url(images/header-bg-overlay.png) left top #FAF5BD no-repeat;
  background-position: 393px 0px;
}
section.header .logo {
  margin-left: 1em;
  background: url(images/logo-high.png) no-repeat center center;
  background-size: contain;
  width: 290px;
  height: 80px;
}
section.header .logo h1 {
  margin: 0;
  font-size: 40px;
  text-indent: -99999em;
}
section.header .logo h4 {
  text-indent: -99999em;
}
section.header nav {
  background: #050D9E;
  text-align: center;
}
section.header nav ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: 0;
  transition: max-height 0.5s;
}
section.header nav ul.active {
  max-height: 800px;
}
section.header nav ul li {
  display: block;
}
section.header nav ul li > a {
  padding: 10px 7px;
  color: #FAF5BD;
  background-color: #050D9E;
  text-transform: uppercase;
}
section.header nav ul li > a:focus {
  background-color: #050D9E;
}
section.header nav ul li > a:hover {
  color: #050D9E;
  text-decoration: none;
  background-color: #FAF5BD;
}
section.header nav ul li > a.fa {
  line-height: inherit;
}
section.header nav .mobile-menu {
  text-align: center;
  padding: 5px;
  font-size: 0.7em;
}
section.header nav .mobile-menu a.fa {
  color: #FAF5BD;
}
section.header nav .mobile-menu a.fa:hover {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

section.body {
  padding-top: 2em;
  background: url(images/bg-overlay.png) left top;
  background-attachment: fixed;
}
section.content-wrapper {
  margin: auto;
  margin-bottom: 300px;
  display: none;
}
section ul.tracks {
  margin-bottom: 50px;
  float: left;
  width: 100%;
}
section ul.tracks li {
  float: left;
  font-family: "Maven Pro", sans-serif;
  cursor: pointer;
  padding: 0px !important;
  width: 50%;
}
section ul.tracks li span {
  padding: 2px 2px 2px 2px !important;
  margin-right: 1em;
  display: block;
}
section ul.tracks li:hover span {
  background-color: #F1F1F1 !important;
}
section ul.tracks li.nowplaying span {
  background-color: #FF485B !important;
}
section ul.tracks li {
  display: inline-block;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 660px) {
  section ul.tracks li {
    display: inline-block;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 880px) {
  section ul.tracks li {
    display: inline-block;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 1390px) {
  section ul.tracks li {
    display: inline-block;
    min-height: 1px;
    float: left;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 768px) {
  section ul.tracks li {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media screen and (min-width: 660px) {
  section ul.tracks li {
    width: 33.33333%;
  }
}
@media screen and (min-width: 880px) {
  section ul.tracks li {
    width: 25%;
  }
}
@media screen and (min-width: 1170px) {
  section ul.tracks li {
    width: 20%;
  }
}
@media screen and (min-width: 1390px) {
  section ul.tracks li {
    width: 16.66667%;
  }
}
@media screen and (min-width: 1610px) {
  section ul.tracks li {
    width: 14, 28571428571429%;
  }
}
section ul.tracks li .duration {
  float: right;
}
section .download-link {
  margin-bottom: 200px;
  text-align: center;
}
section .download-link a {
  color: #FF485B;
  border: 1px solid #FF485B;
  padding: 0.8em;
}
section .download-link a:hover {
  text-decoration: none;
  background-color: #FF485B;
  color: #FAF5BD;
}
section.footer {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background-color: #FF485B;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #FAF5BD;
  max-width: 1440px;
}
section.footer h1 {
  background: #F6F6F6;
  padding: 10px;
}
section.footer nav {
  text-align: center;
}
section.footer nav li {
  display: inline-block;
  padding: 15px;
}
section.footer .table {
  display: table;
  height: 100%;
  margin-bottom: 0;
}
section.footer .row {
  display: table-row;
}
section.footer .row.align-bottom {
  vertical-align: bottom;
}
section.footer .cell {
  position: relative;
  vertical-align: top;
  display: block;
  height: 100%;
}
section.footer .cell.half {
  width: 100%;
}
section.footer .cell.half.grey:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #EDEDED;
}
section.footer .cell.info-area {
  display: none;
}
section.footer .cell.padding {
  padding: 1em;
}
section.footer .trackinfo-container {
  box-sizing: border-box;
}
section.footer.mini .trackinfo section, section.footer.mini .trackinfo-cur section {
  display: none;
}
section.footer .trackinfo {
  color: #FF485B;
  display: table;
  background-color: #EDEDED;
  width: 100%;
  padding: 10px;
  height: 100%;
  display: none;
}
section.footer .trackinfo h3 {
  font-size: 1.5em;
  font-weight: bold;
}
section.footer .trackinfo footer {
  font-size: 0.8em;
  margin: 10px 0 0;
}
section.footer .trackinfo section {
  margin-top: 10px;
}
section.footer .trackinfo-cur {
  font-family: "Maven Pro", sans-serif;
}
section.footer .curtrack-description {
  padding: 10px;
  display: table;
  height: 100%;
}
section.footer .curtrack-description h3 {
  font-size: 1.5em;
}
section.footer .curtrack-description .link {
  font-size: 0.8em;
  margin: 10px 0;
}
section.footer .curtrack-description section {
  margin-top: 10px;
}
section.footer .curtrack-description footer {
  font-size: 0.8em;
  margin: 10px 0 0;
}
section.footer .controller {
  position: relative;
}
section.footer .controller .controller-wrapper {
  position: relative;
  margin: auto;
}
section.footer .controller progress {
  width: 100%;
}
section.footer .controller .devider {
  width: 0px;
  border-left: 1px solid;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  color: #3c3c3c;
}
section.footer .controller button {
  border: none;
  background: none;
  vertical-align: middle;
  outline: none;
  margin: 0;
  padding-bottom: 0;
  background-repeat: no-repeat;
  font-size: 22px;
}
section.footer .controller button:active {
  color: #3c3c3c;
}
section.footer .controller button.shuffle.active {
  color: #3c3c3c;
}
section.footer .controller button.download {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
section.footer .controller button.download.active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
section.footer .controller button.download:active {
  color: #FAF5BD;
}
section.footer .controller a.download {
  float: left;
  min-width: 25px;
  text-align: left;
  text-indent: -100000px;
  position: relative;
}
section.footer .controller a.download:before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 4px;
  width: 20px;
  height: 20px;
  background-size: 16px 16px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+UmVjdGFuZ2xlIDMxPC90aXRsZT48cGF0aCBkPSJNMyAxMXYyaDEwdi0ySDN6bTAtN2gxMGwtNSA2LTUtNnptMy0ydjJoNFYySDZ6IiBmaWxsPSIjMjIyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
}
section.footer .controller .cur {
  float: left;
  font-size: 0.8em;
}
section.footer .controller .dur {
  float: right;
  font-size: 0.8em;
}
section.footer .controller #volume-bar {
  position: absolute;
  top: 10px;
  right: 0px;
}
section.footer .controller #volume-bar * {
  cursor: pointer;
}
section.footer .controller #volume-bar #volume-scrubber {
  float: left;
  position: relative;
  top: 3px;
  right: 10px;
  height: 6px;
  width: 80px;
  background: #e3e3e3;
}
section.footer .controller #volume-bar #volume-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background: #3c3c3c;
}
section.footer .controller #volume-bar #volume-sign {
  float: right;
  margin-top: -2px;
}
section.footer .controller #progress-bar {
  margin-top: 1em;
}
section.footer .controller #progress-bar * {
  cursor: pointer;
}
section.footer .controller #progress-bar #progress-scrubber {
  float: left;
  position: relative;
  height: 6px;
  width: 100%;
  background: #e3e3e3;
}
section.footer .controller #progress-bar #progress-indicator {
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  background: #3c3c3c;
}
section ul.news {
  float: left;
  margin-bottom: 300px;
  width: 100%;
}
section ul.news li {
  text-align: center;
  margin-bottom: 30px;
}
section ul.news li > div {
  background-color: white;
  padding-bottom: 3em;
}
section ul.news li > div h3 {
  font-size: 2em;
  font-weight: 900;
  width: 260px;
  margin: 0.5em auto;
  text-transform: uppercase;
}
section ul.news li > div date {
  text-transform: uppercase;
}
section ul.news li > div .category {
  text-transform: uppercase;
}
section ul.news li > div .excerpt p {
  margin: 0 30px 3em;
  text-align: justify;
}
section ul.news li > div .readmore {
  text-transform: uppercase;
  background-color: #050D9E;
  color: #FAF5BD;
  padding: 0.7em 1.2em;
}
section ul.news li > div .devider {
  font-size: 2em;
}
section ul.news li img {
  width: 100%;
  height: auto;
}

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {
  .hide-on-mobile {
    display: block;
  }

  section.header nav {
    display: inline-block;
  }
  section.header nav .mobile-menu {
    display: none;
  }
  section.header nav.mobile-nav {
    display: none !important;
  }
  section.header nav ul {
    display: block;
    max-height: none;
    overflow: hidden;
    position: relative;
  }
  section.header nav ul li {
    display: inline-block;
  }
}
/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
  section.header nav {
    display: inline-block;
  }
  section.header nav .mobile-menu {
    display: none;
  }
  section.header nav.mobile-nav {
    display: none !important;
  }
  section.header nav ul {
    display: block;
    max-height: none;
    overflow: hidden;
    position: relative;
  }
  section.header nav ul li {
    display: inline-block;
  }
  section.header nav ul li > a {
    padding: 10px 15px;
  }

  .wrapper {
    min-width: 700px;
  }

  section.footer .cell {
    display: table-cell;
  }
  section.footer .cell.half {
    width: 50%;
  }
  section.footer .cell.info-area {
    display: table-cell;
  }
}
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
  section.footer {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  section.footer .cell.padding {
    padding: 2em 4em;
  }
}
/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
