section {
	&.footer {
		left: 50%;
		transform: translateX(-50%);
		.table {
		    
		}
		.row {
			
		}
		.cell {
		    &.padding {
		    	padding: 2em 4em;
		    }
		}

		.trackinfo-container {

		}
		&.mini {

		}
		.trackinfo {

		}

		.curtrack-description {

		}
		.trackinfo-wrap {

		}
		.controller {

		}
	}
}