.hide-on-mobile {
	display: block;
}
section {
	&.footer {
		.controller {
			#volume-bar {
				display: block;
			}
		}
	}
}
section.header {

	nav {
		display: inline-block;

		.mobile-menu {
			display: none;
		}
		&.mobile-nav {
			display: none !important;
		}
		ul {
			display: block;
			max-height: none;
			overflow: hidden;
			position: relative;
			// width: 100%;
		 //    left: 0;
			li {
				display: inline-block;
			}
			// list-style: none;
		}

	}
}
section {
	ul.news {
		li {
			// @include gridle_grid( 6 );
		    
			>div {

				div.text {
				}
			}
		}
	}
}